@model IEnumerable<Post>

<div class="text-center">
  <h1 class="dispaly-1">
    Gönderiler
  </h1>
  <table  class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Gönderi Başlığı</th>
        <th>Gönderi İçeriği</th>
        <th>Operasyonlar</th>
      </tr>
    </thead>
    <tbody>
      @foreach (Post post in Model)
      {
        <tr>
          <td>@post.Id</td>
          <td>@post.Title</td>
          <td>@post.Content</td>
          <td>
            <div class="btn-group">
              <a class="btn btn-sm btn-outline-secondary" target="_blank" asp-area="" asp-controller="Post" asp-action="Get" asp-route-id="@post.Id">
                <i class="fa-solid fa-magnifying-glass"></i> Sayfada Gör
              </a>
              <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@post.Id">
                <i class="fa-solid fa-trash"></i> Sil
              </a>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>