@model Post

<div class="col-lg-6">
  <a class="text-decoration-none text-dark" asp-action="Get"
    asp-route-id="@Model.Id">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-3 d-flex flex-column position-static">
        <small class="display-font-sizes-1 d-inline-block mb-2 text-primary-emphasis">@Model.Category?.Name</small>
        <h4 class="mb-2">@Model.Title</h4>
        <div class="mb-2">
          <h6>
            @Model.Summary
          </h6>
        </div>
      </div>
      <div class="col-auto d-none d-xl-block p-2">
        <img src='@(!string.IsNullOrEmpty(Model?.ImageUrl) ? Model.ImageUrl : "https://placehold.co/200x300")' alt="240x320" width="240" height="320" />
      </div>
    </div>
  </a>
</div>