@model PostDtoWithDetails
<div class="row p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
  <div class="col-lg-9">
    <h1 class="display-1">@Model.Title</h1>
    <p class="lead my-3">@Model.Summary</p>
  </div>
  <div class="col-lg-3 mt-5">
    <div class="pt-2">
      <span>
        <a asp-controller="Account" asp-action="Profile" asp-route-id="@Model.User?.Id"
          class="text-decoration-none text-dark fw-bold">@Model.User?.UserName</a> tarafından
      </span>
      <br />
      @if (Model.UpdatedAt is not null)
      {
        <span>@(Model.UpdatedAt?.ToString("dd/MM/yyyy")) tarihinde güncellendi.</span>
      }
      else
      {
        <span>@Model.CreatedAt.ToString("dd/MM/yyyy") tarihinde yazıldı.</span>
      }
      <div class="mt-3">
        @if (User.Identity.IsAuthenticated)
        {
          <form method="post" asp-action="ToggleLike" asp-route-postId="@Model.Id">
            <button type="submit" class="btn p-0 border-0 bg-transparent">
              <i class="fa-solid fa-heart text-danger"></i>
              @await Component.InvokeAsync("LikesSummary", new { postId = Model.Id })
            </button>
          </form>
        }
        else
        {
          <i class="fa-solid fa-heart text-danger"></i>
          @await Component.InvokeAsync("LikesSummary", new { postId = Model.Id })
        }
      </div>
    </div>
  </div>

</div>

<div class="row g-5">
  <div class="col">
    <article class="blog-post">
      @Html.Raw(Model.Content)
    </article>
  </div>

</div>

<div class="row d-flex justify-content-center mt-5">
  <div class="col-md-8">
    <div class="card border bg-body-secondary">
      <div class="card-body p-4">
        @if (User.Identity.IsAuthenticated)
        {
          <div>
            <h5 class="display-6">Yorum yaz</h5>
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <form method="post" asp-action="AddComment">
              <div class="text-danger" asp-validation-summary="All"></div>
              <input type="hidden" asp-for="@Model.Id" name="PostId" />
              <input name="Title" class="form-control my-1" placeholder="Başlık" maxlength="50" />
              <textarea name="Content" class="form-control my-1" maxlength="1000"></textarea>
              <button class="btn btn-sm mt-2 btn-outline-secondary" type="submit">
                <i class="fa-solid fa-plus fa-sm"></i> Yorumu ekle
              </button>
            </form>
          </div>
        }
        <div>
          <h5 class="display-6">Yorumlar</h5>
        </div>
        @foreach (var comment in Model.Comments.Reverse() ?? Enumerable.Empty<Comment>())
        {
          <div class="card mb-4">
            <div class="card-body">
              <h4>@comment.Title</h4>
              <p>@comment.Content</p>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <p class="small mb-0"><i class="fa-solid fa-circle-user me-2"></i>@comment.User?.UserName</p>
                </div>
                <div class="d-flex flex-row align-items-center">
                  <p class="small mb-0"> @comment.CreatedAt</p>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>